body{

    background-color: var(--bg);
}

h1 {

    font-size: rem(40);
    letter-spacing: rem(15);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

button {

    font-family: Josefin Sans, sans-serif;

}




.container--light {

    background-image: url(/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.container--dark {

    
    background-image: url(/images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.btn--dark {

    background-image: url(/images/icon-sun.svg);
    background-size: contain;
    background-color: transparent;

}
.btn--light {

    background-image: url(/images/icon-moon.svg);
    background-size: contain;
    background-color: transparent;
}

.toDo__input__container {

   background-color: var(--bg-input);
   border-radius: rem(5);
   

    
}

.input__text__container {

    

    input[type="text"] {

        outline: transparent;
        border: none;
        background-color: var(--bg-input);
        color: var(--input-text);
        font-size: rem(18);
    
    }

    
    
    ::placeholder {

        font-size: rem(18);
        color: var(--very-dark-grayish-blue);
        letter-spacing: -0.25px;
    }

    :focus {

        color: var(--input-text);
        font-size: rem(18);
    }
}

.drag {

    color: var(--dark-grayish-blue);
    width: 100%;
    text-align: center;
    margin-top: rem(49);
    font-size: rem(14);
    
}

