@use 'breakpoints';

body{

    background-color: var(--bg);
}

h1 {

    font-size: rem(40);
    letter-spacing: rem(15);
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;

    @include xs {

        font-size: rem(25);
    }
}

button {

    font-family: Josefin Sans, sans-serif;

}

a {

    text-decoration: none;
}




.container--light {

    background-image: url(../images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @include xs {

        background-image: url(../images/bg-mobile-light.jpg);
    }
    
}

.container--dark {

    
    background-image: url(../images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @include xs {

        background-image: url(../images/bg-mobile-dark.jpg);
    }
}

.btn--dark {

    background-image: url(../images/icon-sun.svg);
    background-size: contain;
    background-color: transparent;

}
.btn--light {

    background-image: url(../images/icon-moon.svg);
    background-size: contain;
    background-color: transparent;
}

.toDo__input__container {

   background-color: var(--bg-input);
   border-radius: rem(5);
   

    
}

.input__text__container {

    

    input[type="text"] {

        outline: transparent;
        border: none;
        background-color: var(--bg-input);
        color: var(--input-text);
        font-size: rem(18);


    
    }

    
    
    ::placeholder {

        font-size: rem(18);
        color: var(--very-dark-grayish-blue);
        letter-spacing: -0.25px;
        @include xs {
            font-size: rem(12);
        }
    }

    :focus {

        color: var(--input-text);
        font-size: rem(18);
    }
}

.drag {

    color: var(--dark-grayish-blue);
    width: 100%;
    text-align: center;
    margin-top: rem(49);
    font-size: rem(14);
    
}

.dragging {

    opacity: 0.5;
    box-shadow: var(--dragBox) 0px 30px 60px -12px inset, var(--dragBox) 0px 18px 36px -18px inset;
}

.attribution { 
     font-size: rem(12);
     text-align: center; 
     color: var(--footer-text);
    }
.attribution a {
     color: var(--footer-text); 
    }
