h1 {

    font-size: rem(40);
    letter-spacing: rem(15);
    text-transform: uppercase;
    font-weight: 700;
}

.container {

    background-image: url(/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    

}

.toDo__input__container {

    background-color: whitesmoke;

    
}