:root,
:root.dark {


    --bg: #161722;
    --very-light-grayish-blue: #25273c; 

    --light-grayish-blue: #cacde8;
    --dark-grayish-blue: #777a92;
    --very-dark-grayish-blue: #4d5066;
    
    --bg-toDolist: #393a4c;


   
}

//- Light Grayish Blue (hover): hsl(236, 33%, 92%)