:root,
:root.dark {


    --bg: #161722;

    --very-light-grayish-blue: #25273c; 

    --light-grayish-blue: #cacde8;
    --dark-grayish-blue: #777a92;
    --very-dark-grayish-blue: #4d5066;
    
    --bg-toDolist: #25273c;
    --toDolist-border: #4d5066;


    --box-shadow: #00000080;

    
    --bg-input: #25273c;
    --input-text: #c8cbe8;
    --toDolist-text: #c8cbe8;

    --hover: #e4e5f1;

    --dragBox: #e4e5f1;
}

//- Light Grayish Blue (hover): hsl(236, 33%, 92%) 