@use 'functions';


.container {

    max-width: rem(1440);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.content__container{

    max-width: rem(540);
    width: 100%;
    /* border: 2px solid black; */
    margin-top: rem(70);
}

.header {

    display: flex;
    justify-content: space-between;
    min-height: rem(50);
    width: 100%;
    align-items: center;
    margin-bottom: rem(40);
    
    input {

        width: rem(25);
        height: rem(25);
        border: none;
        cursor: pointer;
        
    }
}


.toDo__input__container {


    display: flex;
    padding: rem(15);
    align-items: center;
    
   
   
}

.checkbox__container {

   margin-bottom: rem(10);
    
   
}

.input__text__container {

    width: 100%;

    input[type="text"] {

        flex-grow: 1;
        width: 100%;
        height: rem(34);
        
    }
}

