:root,
:root.light {

 

    // light Theme
    --bg: #fafafa;
    --very-light-grayish-blue: #e4e5f1;
    --light-grayish-blue: #d2d3db;
    --dark-grayish-blue: #9394a5;
    --very-dark-grayish-blue: #484b6a;
    
    



    
}