:root,
:root.light {

 

    // light Theme
    --bg: #fafafa;
    --very-light-grayish-blue: #e4e5f1;
    --light-grayish-blue: #d2d3db;
    --dark-grayish-blue: #9394a5;
    --very-dark-grayish-blue: #484b6a;



    --bg-toDolist: #fff;
    --toDolist-border: #e4e5f1;

    --box-shadow: #c2c3d680;
    --bg-input: #ffff;
    --input-text: #393A4B;
    --toDolist-text: #494C6B;


    --hover: #494c6b;
    
    



    
}