

*,
*::before,
*::after {

    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}

html,
body {

    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
}



