.toDolist__container {

    margin-top: rem(24);
    background-color:var(--bg-toDolist);
    border-radius: rem(5);
    box-shadow: 0px 35px 50px -15px var(--box-shadow);


}


.hover {

    border: 2px dotted black;
}


.toDolist__content {

    display: flex;
    align-items: center;
   
    padding: rem(20) rem(16);
    border-bottom: 1px solid var(--toDolist-border);
    /* border: 1px solid black; */

    @include xs {

        padding: rem(13) rem(15)
    }
    li {

        list-style: none;
        flex-grow: 1;
        font-size: rem(18);
        color: var(--toDolist-text);
        margin-left: rem(24);
        letter-spacing: -0.25px;
        cursor: pointer;

        @include xs {

            font-size: rem(12);
            margin-left: rem(14)
        }
    }

    .del__line {

        text-decoration: line-through;
        opacity: 0.3;
    }

   
}

.toDolist__content:hover .delete__cross {

    display: block;
}

.delete__cross {

    display: none;

    @include xs {

        display: block;
    }
}


.toDolist__footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20);
    letter-spacing: -0.19px;

    @include xs {
        padding: rem(14)
    }


    span {

        font-size: rem(14);
        color: var(--dark-grayish-blue);

        @include xs {

            font-size: rem(12);
        }
       

    }

    button {

        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-grayish-blue);

    }
    
}

.filter_btn {

    margin-right: rem(14);
    font-weight: bold;

    @include xs {
        font-size: rem(14);
    }

    &:hover {

        color: var(--hover);
    }

    &:focus {

        color: var(--bright-blue);
    }
}

.delete__btn {

   button {

    font-weight: 400;
    @include xs {

        font-size: rem(12);
    }

    &:hover {

        color: var(--hover)
   }
   }

  
}

.hide {

   display: flex;

   @include xs {

     display: none;
   }
}

.footer--mobile {

    display: none;
    background-color: var(--bg-toDolist);
    margin-top: rem(16);
    justify-content: center;
    box-shadow: var(--box-shadow);
    border-radius: rem(5);

    @include xs {

        display: flex;
    }

}



